{% extends 'emails/email_base.html' %}

{% block body %}
    <div style="padding: 0 1%;color: black;">
        <p>Dear {{user_name|title}},</p>
        <p class="text-justify">
            Please click the link below to reset your password.
        </p>
        <a href="{{url_for('password_reset.set_new_password', token=token,_external=True)}}" style="display:block;width:100%;padding-top:1rem;padding-bottom:1rem;text-align:center;text-decoration:none;background-color:#673ab7;color:white">Click Here To Reset Password</a>

    </div>

{% endblock %}
