{% extends 'base.html' %}
{% from 'bs5-forms.html' import render_string_field %}

{% block body %}
	<div id="body">
		{% include 'index/header.html' %}

        <main class="form-signin border bg-light rounded shadow my-4">

            <ul class="d-flex justify-content-center nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if show_profile %}active{% endif %}" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">PROFILE</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if show_password %}active{% endif %}" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">PASSWORD</button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent" style="transition: height 1s ease-out;">
                <div class="tab-pane fade {% if show_profile %}show active{% endif %}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <form method="POST" action="{{ url_for('customer_bp.update_customer') }}">
                        {{ update_customer_form.csrf_token() }}
                        {{ update_customer_form.id }}
                        {{ render_string_field(update_customer_form.name) }}
                        {{ render_string_field(update_customer_form.email) }}
                        {{ render_string_field(update_customer_form.telephone) }}
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
                    </form>
                </div>

                <div class="tab-pane fade {% if show_password %}show active{% endif %}" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
                    <form method="POST" action="{{ url_for('customer_bp.update_password') }}">
                        {{ update_password_form.csrf_token() }}
                        {{ render_string_field(update_password_form.current_password) }}
                        {{ render_string_field(update_password_form.new_password) }}
                        {{ render_string_field(update_password_form.confirm_password) }}
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
                    </form>
                </div>
                <p class="mt-5 mb-3 text-muted text-center">&copy; AMOBIT TECHNOLOGIES</p>
            </div>

        </main>
	</div>
{% endblock %}

{% block vue %}
<script type="text/javascript">
    var vue = new Vue({
        el: '#body',
        data: {
            customer: {
                id: parseInt('{{current_user.id or 0}}'),
                contact: '{{current_user.contact}}'
            },
        },
        created: function() {

        },
        computed: {

        },
        methods: {
            
        }
    });
</script>
{% endblock %}