{% extends 'base_customer_care.html'%}
{%from 'helper_customer_care.html' import sidebar, render_product%}
{% block body%}
<div id="all">
    <div id="content">
      <div class="container pb-5 mb-5">
        
        <div class="container row mt-3" >
          <div class="col-md-3"> 
            {{sidebar(page='add_product')}}
          </div>
          <div class="col-md-9">
            <div class="card rounded-0">
              <div class="card-body">
                <div class="w-100">
                  <form method="POST", role="form" action="" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="row form-group">
                      {{form.restaurant.label(class="col-form-label col-5")}}
                      <div class="col-7">
                        {{form.restaurant(class="form-control selected-product-subcategory is-invalid" if form.restaurant.errors else "form-control selected-product-subcategory")}}
                        {% for error in form.restaurant.errors %}
                        <div class="invalid-feedback">
                          {{error}}
                        </div>
                      {% endfor%}
                      </div>
                    </div>
                    <div class="row form-group">
                      {{form.brand.label(class="col-form-label col-5")}}
                      <div class="col-7">
                        {{form.brand(class="form-control selected-product-subcategory is-invalid" if form.brand.errors else "form-control selected-product-subcategory")}}
                        {% for error in form.brand.errors %}
                        <div class="invalid-feedback">
                          {{error}}
                        </div>
                      {% endfor%}
                      </div>
                    </div>
                    <div class="row form-group">
                      {{form.sub_cat.label(class="col-form-label col-5")}}
                      <div class="col-7">
                        {{form.sub_cat(class="form-control selected-product-subcategory is-invalid" if form.sub_cat.errors else "form-control selected-product-subcategory")}}
                        {% for error in form.sub_cat.errors %}
                        <div class="invalid-feedback">
                          {{error}}
                        </div>
                      {% endfor%}
                      </div>
                    </div>
                    <div class="row form-group">
                        {{form.name.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.name(class="form-control is-invalid" if form.name.errors else "form-control")}}
                          {% for error in form.name.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                          {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                        {{form.product_picture.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.product_picture(class="form-control is-invalid" if form.product_picture.errors else "form-control")}}
                          {% for error in form.product_picture.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                        {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                        {{form.description.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.description(class="form-control is-invalid" if form.description.errors else "form-control")}}
                          {% for error in form.description.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                        {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                        {{form.price.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.price(class="form-control is-invalid" if form.price.errors else "form-control")}}
                          {% for error in form.price.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                        {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                        {{form.buying_price.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.buying_price(class="form-control is-invalid" if form.buying_price.errors else "form-control")}}
                          {% for error in form.buying_price.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                        {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                        {{form.selling_price.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.selling_price(class="form-control is-invalid" if form.selling_price.errors else "form-control")}}
                          {% for error in form.selling_price.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                        {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                        {{form.served_with.label(class="col-form-label col-5")}}
                        <div class="col-7 input-group">
                          {{form.served_with(class="form-control is-invalid" if form.served_with.errors else "form-control")}}
                          {% for error in form.served_with.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                        {% endfor%}
                        </div>
                    </div>
                    <div class="row form-group">
                      {{form.commission_fee.label(class="col-form-label col-5")}}
                      <div class="col-7 input-group">
                        {{form.commission_fee(class="form-control is-invalid" if form.commission_fee.errors else "form-control")}}
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                        {% for error in form.commission_fee.errors %}
                        <div class="invalid-feedback">
                          {{error}}
                        </div>
                      {% endfor%}
                      </div>
                    </div>
                    <div class="row form-group">
                      {{form.headsup.label(class="col-form-label col-5")}}
                      <div class="col-7 input-group">
                        {{form.headsup(class="form-control is-invalid" if form.headsup.errors else "form-control")}}
                        {% for error in form.headsup.errors %}
                        <div class="invalid-feedback">
                          {{error}}
                        </div>
                      {% endfor%}
                      </div>
                    </div>
                    {{form.submit(class="btn-outline-primary btn-block")}}
                  </form>
                </div>
              </div>
            </div>
            
          </div> 
        </div>
      </div>
    </div>
  </div>
  {% endblock%}