<div id="product" class="row m-0">
    <div class="col-md-12 p-0 m-0 bg-light">
        <div class="container" v-if="products.length">
            <div class="d-flex justify-content-around flex-wrap align-items-stretch">

                <div :id="'product'+product.product_id" class="my-2" v-for="product in products">
                    <div class="card shadow-sm" style="max-width: 150px;">
                        <div align="center">
                            <a :href="'/product/'+product.product_id">
                                <img data-loader="#imageLoader1" class="product-image bd-placeholder-img card-img-top hover-scale hover-opaque" width="100%" v-bind:src="static+product.product_picture+'?dummy='+Math.random()" @load="product.imgLoaded=true" v-show="product.imgLoaded"/>
                                <div id="imageLoader1" class="skeleton-loader-image" v-show="!product.imgLoaded"></div> 
                            </a>
                        </div>
                        <div class="card-body text-nowrap text-truncate">
                            <p class="card-text">{{'{{product.name}}'}}</p>
                            <div style="height: 1.5rem;">
                                <div v-if="product.promotional_price">
                                    <small class="d-inline-block text-truncate" style="max-width: 150px;">
                                        <strike class="text-warning">{{'{{product.actualPrice}}'}} UGX</strike> <span class="text-danger">{{'{{product.discount}}'}}% OFF</span>
                                    </small>
                                </div>
                            </div>
                            <p v-if="product.promotional_price"><strong>{{'{{product.promotionalPrice}}'}} UGX</strong></p>
                            <p v-if="!product.promotional_price"><strong>{{'{{product.actualPrice}}'}} UGX</strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary hover-scale-2" @click='addToCart(product)'>Add To Cart</button>
                                <a :href="'/product/'+product.product_id" class="btn btn-link hover-scale-2"><span class="fa fa-2x fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="container" v-if="!products.length">
            <div class="d-flex justify-content-around flex-wrap">
                {% include 'product/product-skeleton-loader.html' %}
                {% include 'product/product-skeleton-loader.html' %}
                {% include 'product/product-skeleton-loader.html' %}
            </div>
        </div>
        {% include 'product/served-with-modal.html' %}
    </div>
</div>
