<div class="modal" id="servedWithModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-body text-center">
            
        </div>
        </div>
    </div>
</div>

<!-- <script>
    var options = {
        backdrop: true,
        keyboard: true,
        focus: true
    }
    var myModal = new bootstrap.Modal(document.getElementById('servedWithModal'), options)
    function showSpinnerModal(){
    	myModal.show()
    }
    function hideSpinnerModal(){
    	myModal.hide()
    }
</script> -->