<section class="d-flex align-items-center text-center container-fluid sticky-top rounded shadow form-signin" style="background-image: linear-gradient(white, #f8f9fa); max-width: 30rem;">
	<a class="navbar-brand flex-fill p-0" align="left" href="/">
		<img class="rounded-circle" src="{{url_for('static', filename='images/logo-orange.png')}}" alt="" width="50">
	</a>

	<div class="m-auto">
		<a href="{{url_for('cart_bp.get_cart')}}" class="text-primary nav-link mx-2 my-auto">
			<label class="fa fa-2x fa-shopping-basket"></label>
			<span v-if="cartCount" class="translate-middle badge rounded-pill bg-danger m-0 position-absolute">
			{{'{{cartCount}}'}}
			</span>
		</a>
	</div>

	<button class="px-1 btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="fa fa-user fa-2x"></span></button>

	<ul class="dropdown-menu dropdown-menu-end p-0 rounded-0 shadow border-1 border-dark my-2 mx-1" style="z-index: 1040">
		{% if current_user.is_authenticated %}
			<div class="bg-light p-2 font-weight-bold">
				<h3>Hi, {{current_user.name}}</h3>
			</div>
			<div class="py-2">
				<li><a class="dropdown-item" href="{{url_for('order_bp.get_orders')}}"><span class="fa fa-check-square-o"></span> Orders</a></li>
				<li>
					<a class="dropdown-item" href="{{url_for('customer_bp.get_customer')}}"><span class="fa fa-user-o"></span> Account</a></li>
				<li><a class="dropdown-item" href="{{url_for('index_bp.logout')}}"><span class="fa fa-power-off"></span> Logout</a></li>
			</div>
		{% else %}
			<div class="bg-light py-2">
				<li><a class="dropdown-item" href="{{url_for('index_bp.signin_signup')}}">Login | Signin</a></li>
			</div>
		{% endif %}
	</ul>
</section>